<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mall4j.cloud.product.mapper.BrandMapper">
    <select id="listByCid" parameterType="Long" resultMap="Long">
       select brand_id
       from category_brand where category_id = #{category_id}
    </select>

    <select id="listByBid" parameterType="Long" resultMap="BrandVO">
       select brand_id,create_time,update_time,
       `name`,`desc`,img_url,first_letter,seq,status
       from brand where brand_id = #{brand_id}
    </select>

    <select id="listByCatid" parameterType="Long" resultMap="BrandVO">
       select brand_id,create_time,update_time,
       `name`,`desc`,img_url,first_letter,seq,status
       from brand where brand_id = (select brand_id
       from category_brand where category_id = #{category_id})
    </select>

    <select id="getPage" resultMap="BrandVO">
        select brand_id,create_time,update_time,
       `name`,`desc`,img_url,first_letter,seq,status
       from brand
    </select>

    <select id="listBrand" resultMap="BrandVO">
        select brand_id,create_time,update_time,
       `name`,`desc`,img_url,first_letter,seq,status
       from brand
    </select>
</mapper>