<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mall4j.cloud.product.mapper.CatMapper">

    <select id="select" parameterType="Long" resultMap="Integer">
       select `count`
       from shop_cart_item where spu_id = #{spu_id}
       and sku_id = #{sku_id}
       and shop_id =  #{shop_id}
    </select>

    <update id="update" parameterType="SCartVO">
        update shop_cart_item
        <trim prefix="SET" suffixOverrides=",">
            <if test="create_time != null and create_time != ''">create_time,</if>
            <if test="update_time != null and update_time != ''">update_time,</if>
            <if test="shop_id != null and shop_id != ''">shop_id,</if>
            <if test="spu_id != null and spu_id != ''">spu_id,</if>
            <if test="sku_id != null and sku_id != ''">sku_id,</if>
            <if test="user_id != null and user_id != ''">user_id,</if>
            <if test="count != null and count != ''">`count`,</if>
            <if test="price_fee != null and price_fee != ''">price_fee,</if>
            <if test="is_checked != null and is_checked != ''">is_checked,</if>
        </trim>
    </update>

    <delete id="delete" parameterType="Long">
        delete from shop_cart_item where spu_id = #{spu_id}
    </delete>

    <update id="updateItems" parameterType="SCartVO">
        update shop_cart_item
        <trim prefix="SET" suffixOverrides=",">
            <if test="is_checked != null and is_checked != ''">is_checked,</if>
        </trim>
        where cart_item_id = #{cart_item_id}
    </update>

    <delete id="delete" parameterType="Long">
        delete from shop_cart_item
    </delete>

    <delete id="deleteItems" parameterType="Long">
        delete from shop_cart_item where cart_item_id = #{cart_item_id}
    </delete>

    <select id="selectShop" parameterType="Long" resultType="SpuVO">
        select spuId,brandId,categoryId,shopCategoryId,shopId,`name`,sellingPoint,
        mainImgUrl,imgUrls,priceFee,marketPriceFee,status,hasSkuImg,detail,totalStock,
        spuAttrValues,skus,seq,brand,saleNum,shopName,category,shopCategory,referenceId
        from spu where spu_id = #{spu_id} and `name` = #{spu_name} and status = #{isFailure}
    </select>

    <select id="selectInfo" resultType="SCartVO">
        select create_time,update_time,shop_id,spu_id,
        sku_id,user_id,`count`,price_fee,is_checked
        from shop_cart_item
    </select>

    <select id="selectShopNum" resultType="Integer">
        select `count`
        from shop_cart_item
    </select>

</mapper>